<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rosbots" >
  
 <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>/part2_cmr/cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>100.0</updateRate>
      <leftJoint>wheel_left_joint</leftJoint>
      <rightJoint>wheel_right_joint</rightJoint>
      <wheelSeparation>1.1</wheelSeparation>
      <wheelDiameter>0.52</wheelDiameter>
      <wheelAcceleration>1.0</wheelAcceleration>
      <wheelTorque>20</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
 </gazebo>

 <gazebo reference="camera_link">
     <sensor type="camera" name="camera1">
       <update_rate>30.0</update_rate>
       <camera name="head">
         <horizontal_fov>1.04</horizontal_fov>
         <image>
           <width>320</width>
           <height>240</height>
           <format>R8G8B8</format>
         </image>
         <clip>
           <near>0.1</near>
           <far>50</far>
         </clip>
       </camera>
       <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
         <alwaysOn>true</alwaysOn>
         <updateRate>0</updateRate>
         <cameraName>camera1</cameraName>
         <imageTopicName>image_raw</imageTopicName>
         <cameraInfoTopicName>camera_info</cameraInfoTopicName>
         <frameName>camera</frameName>
         <hackBaseline>0.07</hackBaseline>
         <distortionK1>0.0</distortionK1>
         <distortionK2>0.0</distortionK2>
         <distortionK3>0.0</distortionK3>
         <distortionT1>0.0</distortionT1>
         <distortionT2>0.0</distortionT2>
       </plugin>
     </sensor>
 </gazebo>
 <gazebo>
     <plugin name="gazebo_ros_imu_controller" filename="libgazebo_ros_imu.so">
       <!-- <robotNamespace></robotNamespace> -->
       <topicName>imu/data</topicName>
       <serviceName>imu/service</serviceName>
       <bodyName>base_link</bodyName>
       <gaussianNoise>0</gaussianNoise>
       <rpyOffsets>0 0 0</rpyOffsets>
       <updateRate>30.0</updateRate>
       <alwaysOn>true</alwaysOn>
       <gaussianNoise>0</gaussianNoise>
     </plugin>
 </gazebo>

 <gazebo reference="wheel_left_link">
   <mu1>1.0</mu1>
   <mu2>1.0</mu2>
   <kp>1000000.0</kp>
   <kd>100.0</kd>
   <minDepth>0.001</minDepth>
   <maxVel>1.0</maxVel>
 </gazebo>
 <gazebo reference="wheel_right_link">
   <mu1>1.0</mu1>
   <mu2>1.0</mu2>
   <kp>1000000.0</kp>
   <kd>100.0</kd>
   <minDepth>0.001</minDepth>
   <maxVel>1.0</maxVel>
 </gazebo>

 <gazebo reference="base_link">
   <material>Gazebo/Blue</material>
   <mu1>0.3</mu1>
   <mu2>0.3</mu2>
 
   <sensor type="contact" name="bumpers">
     <always_on>1</always_on>
     <update_rate>50.0</update_rate>
     <visualize>true</visualize>
     <contact>
       <collision>base_footprint_collision_base_link</collision>
     </contact>
   </sensor>
 </gazebo>

 <gazebo reference="camera_link">
   <mu1>0.2</mu1>
   <mu2>0.2</mu2>
 </gazebo>

 <gazebo reference="sensor_laser">
   <sensor type="ray" name="head_hokuyo_sensor">
     <pose>0.1 0.1 0.1 0 0 0</pose>
     <visualize>false</visualize>
     <update_rate>20</update_rate>
     <ray>
       <scan>
         <horizontal>
           <samples>720</samples>
           <resolution>1</resolution>
           <min_angle>-1.570796</min_angle>
           <max_angle>1.570796</max_angle>
         </horizontal>
       </scan>
       <range>
         <min>0.10</min>
         <max>10.0</max>
         <resolution>0.01</resolution>
       </range>
       <noise>
         <type>gaussian</type>
         <mean>0.0</mean>
         <stddev>0.01</stddev>
       </noise>
     </ray>
     <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
       <topicName>/rosbots/laser/scan</topicName>
       <frameName>sensor_laser</frameName>
     </plugin>
   </sensor>
 </gazebo>


</robot>
